<section id="combatLog-section">
    

    <fieldset>
        <legend>
            <h1>Round 1 <small>Choose Winner</small></h1>
        </legend>
        
        

        <div id="chooseWinner-container">
            <a href="#">
                <img src="../../Content/heroes/scorpion.png" alt="">
                <h3>Danillo Corvalan</h3>
            </a>
            <h2>VS.</h2>
            <a href="#">
                <img src="../../Content/heroes/reptile.png" alt="">
                <h3>Mauricio Minella</h3>
            </a>
        </div>

        <!--<ul class="thumbnails">
            <li class="span4">
                <a href="#" class="thumbnail">
                    <img src="../../Content/heroes/scorpion.png" alt="">
                </a>
                <h3>Danillo Corvalan</h3>
            </li>
            <li class="text-center">
                <h1>VS.</h1>
            </li>
            <li class="span4">
                <a href="#" class="thumbnail">
                    <img src="../../Content/heroes/reptile.png" alt="">
                </a>
                <h3>Mauricio Minella</h3>
            </li>
        </ul>-->
        
        <p>
            <button class="btn btn-large btn-block btn-primary">Save and Next Round</button>
            <button class="btn btn-large btn-block btn-info">Save and Finish</button>
            <button class="btn btn-large btn-block">Cancel</button>
        </p>
    </fieldset>
</section>
