<section id="section-selectCharacters">
    <h4 data-bind="html: 'Choose <span class=\'text-info\'>' + playerToChoose().name + '</span> Character'"></h4>
    <ul class="nav nav-pills nav-stacked thumbnails">
        <!-- ko foreach: charactersToSelect -->
        <li class="span3 text-center" data-bind="css: { 'active': selected, 'disabled': !selected() && $parent.selectedCharacters().length == 1 }">
            <a href="#" data-bind="click: function () { if (!selected() && $parent.selectedCharacters().length == 1) { return; }; if (selected()) { selected(false); } else { selected(true); } }" class="well">
                <img data-bind="attr: { src: character.thumbUrl }"/>
                <h4 data-bind="text: character.name"></h4>
            </a>
        </li>
        <!-- /ko -->
    </ul>
    <button class="btn btn-primary btn-block" data-bind="click: confirmSelectedCharacterForCurrentPlayer, enable: selectedCharacters().length == 1">Confirm</button>
</section>