<section id="section-selectPlayers">
    
    <ul class="nav nav-pills nav-stacked">
        <!-- ko foreach: playersToSelect -->
        <li data-bind="css: { 'active': selected, 'disabled': !selected() && $parent.selectedPlayers().length == 2 }">
            <a href="#" data-bind="text: player.name, click: function () { if (selected()) { selected(false); } else { selected(true); } }" class="well"></a>
        </li>
        <!-- /ko -->
    </ul>
    
    <button class="btn btn-primary btn-block" data-bind="click: goToSelectCharacters, enable: selectedPlayers().length == 2">Select Characters</button>
</section>
